## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from pprint import pprint

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Data/WeatherPy_database.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Mataura,-46.1927,168.8643,46.99,80,95,3.00,NZ,2021-03-05 15:36:52,overcast clouds
1,1,Airai,-8.9266,125.4092,60.33,100,7,0.29,TL,2021-03-05 15:36:52,clear sky
2,2,Punta Arenas,-53.1500,-70.9167,60.80,51,75,25.32,CL,2021-03-05 15:36:53,broken clouds
3,3,Bengkulu,-3.8004,102.2655,78.48,87,100,4.25,ID,2021-03-05 15:36:53,overcast clouds
4,4,Vaini,-21.2000,-175.2000,75.20,100,75,2.30,TO,2021-03-05 15:36:53,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
681,681,Florianopolis,-27.6146,-48.5012,89.01,74,40,8.05,BR,2021-03-05 15:40:30,scattered clouds
682,682,Parrita,9.5201,-84.3225,78.01,60,20,19.57,CR,2021-03-05 15:40:31,few clouds
683,683,Hualmay,-11.0964,-77.6139,77.58,64,95,7.67,PE,2021-03-05 15:40:31,overcast clouds
684,684,Rome,34.2570,-85.1647,55.00,32,1,8.05,US,2021-03-05 15:40:31,clear sky
685,685,Dauriya,49.9333,116.8667,-16.08,82,0,3.71,RU,2021-03-05 15:40:32,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 105

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
# PRINT THE INDEX OF EMPTY ROWS
[index for (index, city) in preferred_cities_df.isnull().iterrows() if len([names for names in city if names])>0]

[62, 107, 206, 219, 272]

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,1,Airai,-8.9266,125.4092,60.33,100,7,0.29,TL,2021-03-05 15:36:52,clear sky
2,2,Punta Arenas,-53.1500,-70.9167,60.80,51,75,25.32,CL,2021-03-05 15:36:53,broken clouds
3,3,Bengkulu,-3.8004,102.2655,78.48,87,100,4.25,ID,2021-03-05 15:36:53,overcast clouds
4,4,Vaini,-21.2000,-175.2000,75.20,100,75,2.30,TO,2021-03-05 15:36:53,broken clouds
6,6,Sao Jose Da Coroa Grande,-8.8978,-35.1478,82.90,71,100,11.99,BR,2021-03-05 15:36:54,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
680,680,Bilma,18.6853,12.9164,88.43,10,0,9.62,NE,2021-03-05 15:40:30,clear sky
681,681,Florianopolis,-27.6146,-48.5012,89.01,74,40,8.05,BR,2021-03-05 15:40:30,scattered clouds
682,682,Parrita,9.5201,-84.3225,78.01,60,20,19.57,CR,2021-03-05 15:40:31,few clouds
683,683,Hualmay,-11.0964,-77.6139,77.58,64,95,7.67,PE,2021-03-05 15:40:31,overcast clouds
684,684,Rome,34.2570,-85.1647,55.00,32,1,8.05,US,2021-03-05 15:40:31,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Airai,TL,60.33,clear sky,-8.9266,125.4092,
2,Punta Arenas,CL,60.80,broken clouds,-53.1500,-70.9167,
3,Bengkulu,ID,78.48,overcast clouds,-3.8004,102.2655,
4,Vaini,TO,75.20,broken clouds,-21.2000,-175.2000,
6,Sao Jose Da Coroa Grande,BR,82.90,overcast clouds,-8.8978,-35.1478,
10,Port Alfred,ZA,73.00,clear sky,-33.5906,26.8910,
13,Ushuaia,AR,55.40,scattered clouds,-54.8000,-68.3000,
15,Chicama,PE,73.40,fog,-7.8447,-79.1469,
16,Lodwar,KE,93.04,overcast clouds,3.1191,35.5973,
18,Kahului,US,66.99,light rain,20.8947,-156.4700,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for (index,hotel) in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = hotel['Lat']
    long = hotel["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params = {
    "radius": 5000,
    "location": str(lat) + "," + str(long),
    "types": "lodging",
        
    "key": g_key }
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel_search = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df['Hotel Name'][index] = hotel_search['results'][0]['name']
    except:
        pass

C:\Users\appii\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Airai,TL,60.33,clear sky,-8.9266,125.4092,Juvinal Martin
2,Punta Arenas,CL,60.80,broken clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho
3,Bengkulu,ID,78.48,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,Vaini,TO,75.20,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Sao Jose Da Coroa Grande,BR,82.90,overcast clouds,-8.8978,-35.1478,CrÃ´a Mares Hotel
...,...,...,...,...,...,...,...
680,Bilma,NE,88.43,clear sky,18.6853,12.9164,Expeditions TÃ©nÃ©re voyages
681,Florianopolis,BR,89.01,scattered clouds,-27.6146,-48.5012,Hotel Boutique Quinta das Videiras
682,Parrita,CR,78.01,few clouds,9.5201,-84.3225,Beso del Viento
683,Hualmay,PE,77.58,overcast clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
684,Rome,US,55.00,clear sky,34.2570,-85.1647,La Quinta Inn & Suites by Wyndham Rome

In [25]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
# info_box_template = """

# """
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))